Package: page.0x01.abcbypass
Name: ABCBypass-农业银行反检测-rootless
Version: 1.0.1
Architecture: iphoneos-arm64
Description: 绕过中国农业银行的越狱环境检测，使其在越狱设备上正常运行。在农业银行 11.1.0 版本验证可用，适用于 rootless 越狱（Dopamine 等）。
Maintainer: Liam
Author: Liam
Section: 反检测
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://tweaks.0x01.page/depictions/page.0x01.abcbypass.json
