Package: com.liam.mybankbypass
Name: MYBankBypass
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Bypass jailbreak detection for MYBank (网商银行)
Maintainer: Liam
Author: Liam
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
